<div id="<%= dom_id flight %>">
  <p>
    <strong>Departureairport:</strong>
    <%= flight.DepartureAirport %>
  </p>

  <p>
    <strong>Destinationairport:</strong>
    <%= flight.DestinationAirport %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= flight.Date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= flight.Time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= flight.Duration %>
  </p>

</div>
