<%= form_with(model: @flight,  url: flights_path, method: "get") do |form| %>


  <div>
    <%= form.label :DepartureAirport, style: "display: block" %>
    <%= select_tag(:DepartureAirport_id, options_from_collection_for_select(@airports, "id", "Code"), include_blank: "From",) %>
  </div>

  <div>
    <%= form.label :DestinationAirport, style: "display: block" %>
        <%= select_tag(:DestinationAirport_id, options_from_collection_for_select(@airports, "id", "Code"),  include_blank: "To",) %>

  </div>

  <div>
    <%= form.label :Date, style: "display: block" %>
          <%= select_tag(:Date, options_for_select(@days)) %>
  </div>

  <div>
    <%= form.label :Passengers, style: "display: block" %>
          <%= select_tag(:Passengers, options_for_select(1..4)) %>
  </div>


  <div>
    <%= form.submit "Search" %>
  </div>
<% end %>